body {
    margin: 0;
    font-family: 'Raleway';
    font-size: 16px;
    color: black;
    text-transform: uppercase;
}
.mobile-show {
    display: none;
}
header {
    margin: 24px 50px 0; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#logo {
    text-transform: none; 
    color: #a6a6a6;
    font-weight: 400;
}
.logo {
    display: flex;
    gap: 10px;
}
nav {
    display: flex;
    align-items: flex-start;
}
.navigation-items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
}
.navigation-items li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
.item {
    display: flex;
}
.drop-down {
    padding: 0px 10px;
    width: 10px;
}
.lang {
    color: #0536FC;
    display: inline-block;
}
.last {
    padding-left: 50px;
    align-items:center;
}
a {
    text-decoration: none;
    color: black;
    opacity: 0.85;
}
h1 {
    font-size: 57px;
    margin-top: 30px;
    margin-right: 85px;
    letter-spacing: -0.03em;
}
p {
    text-transform: none; 
    margin-top: 70px;
    margin-bottom: 100px;
}
.container-left {
    margin-top: 150px;
    margin-left: 180px;
}
.page {
    /* display: flex;
    flex: 1 1 0px;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 
        repeat(auto-fill, minmax(500px, 1fr));
}
.main-image {
    background-image: url(img/main-page.png);
    background-repeat: no-repeat;
    height: 810px;
}
.logo-background {
    background-color: #FF8201;
    background-repeat: no-repeat;
    height: 820px;
}
.logo-big {
    display: flex;
    flex-direction: row-reverse;
}
img {
    padding: 0;
    margin: 0;
    display: block;
}
span {
    color: #0536FC;
    font-weight: bold;
}
button {
    background-color: #0536FC;
    padding: 18px 35px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}
.container-right {
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 240px;
}

@media all and (max-width: 1000px) {
    .desktop-show {
        display: none;
    }
    .mobile-show {
        display: flex;
    }
    body {
        font-size: 14px;
    }
    .page {
        grid-template-columns: 
        repeat(auto-fill, minmax(400px, 1fr));
    }
    .main-image {
        background-image: url(img/main-page-tablet.png);
        background-repeat: no-repeat;
        height: 520px;
    }
    .container-left {
        margin-top: 80px;
        margin-left: 80px;
    }
    h1 {
        font-size: 42px;
        margin-top: 30px;
        margin-right: 50px;
        letter-spacing: -0.02em;
    }
    p {
        margin-top: 40px;
        margin-bottom: 50px;
    }
}

@media all and (max-width: 800px) {
    .desktop-show {
        display: none;
    }
    .mobile-show {
        display: flex;
    }
    body {
        font-size: 14px;
    }
    .logo-pic {
        width: 20px;
    }
    .page {
        grid-template-columns: 
        repeat(auto-fill, minmax(320px, 1fr));
    }
    header {
        margin: 20px;
    }
    .main-image {
        background-image: url(img/main-page-tablet.png);
        background-size: cover;
        height: 332px;
    }
    .container-left {
        margin: 20px 20px 20px 0;
        margin-left: 20px;
    }
    h1 {
        font-size: 24px;
        margin-top: 15px;
        margin-right: 50px;
        letter-spacing: -0.02em;
    }
    p {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    button {
        padding: 10px 20px;
        border: none;
        font-size: 16px;
        font-weight: 400;
    }
    .container-right {
        margin: 20px 20px 20px 20px;   
    }
    h2 {
        font-size: 18px;
    }
    .logo-background {
        background-color: #FF8201;
        background-repeat: no-repeat;
        height: 470px;
    }
    #logo-big {
        width: 320px;
    }
}
