@font-face {
    font-family: 'BasisGrotesquePro';
    src: 
        url('fonts/BasisGrotesquePro-Regular.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Regular.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'BasisGrotesquePro';
    src: 
        url('fonts/BasisGrotesquePro-Bold.woff2') format('woff2'),
        url('fonts/BasisGrotesquePro-Bold.woff') format('woff');
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'BasisGrotesquePro';
    font-size: 16px;
}

/*header*/
.mobile-show {
    display: none;
}
header {
    margin: 24px 50px 0; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#logo {
    text-transform: none; 
    color: #a6a6a6;
    font-weight: 400;
}
.logo {
    display: flex;
    gap: 10px;
}
nav {
    display: flex;
    align-items: flex-start;
}
.navigation-items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
}
.navigation-items li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
.navigation-item a {
    display: flex;
    padding: 0px 5px 20px 0;
    text-decoration: none;
    color: black;
    opacity: 0.85;
    text-transform: uppercase;
}
.drop-down {
    padding: 0px 10px;
    width: 10px;
}
.lang {
    color: #0536FC;
    display: inline-block;
}
.last {
    padding-left: 50px;
    align-items:center;
}
.menu {
    text-decoration: none;
}
@media all and (max-width: 1000px) {
    .desktop-show {
        display: none;
    }
    .mobile-show {
        display: flex;
    }
}
@media all and (max-width: 768px) {
    .mobile-hide {
        display: none;
    }
    .desktop-show {
        display: none;
    }
    .mobile-show {
        display: flex;
    }
    body {
        font-size: 14px;
    }
    .logo-pic {
        width: 20px;
    }
    .page {
        grid-template-columns: 1fr;
    }
    header {
        margin: 20px;
    }
}
/*header*/

.section {
    margin-top: 150px;
    margin-left: 15vw;
    margin-right: 15vw;
}

.section__text {
    width: 35%;
}

.section__article {
    text-transform: uppercase;
    font-weight: bold;
}

.section__article--blue {
    color: #0536FC;
}

.section__header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: -0.03em;
    padding: 30px 0 70px 0;
    margin: 0;
}

.section__motto {
    color: #B9B9B9;
}

.faq {
    width: 32vw;
    margin-left: auto;
}

.faq__item {
    border-top: 1px solid #B9B9B9;
}

.faq__question {
    padding: 30px 0 70px 0;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: -0.03em;
    display: flex;
    justify-content: space-between;
}

.faq__answer {
    padding-bottom: 70px;
}

.faq__answer--hidden {
    display: none;
}

.section__p {
    line-height: 150%;
    opacity: 0.6;
    padding-bottom: 100px;
}

.section--full-page {
    margin: 0;
}

.partner { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.partner__item {
    box-shadow: 0px 0px 1px 0px #d9d9d9 inset;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    height: 450px;
}

.partner__item:hover {
    background-color: #0536FC;
    color: #ffffff
}

.partner__container {
    margin-top: 14%; 
    margin-left: 14%;
    margin-right: 28%;
}

.partner__logo {
    height: 35px;
}

.partner__name {
    margin: 60px 0 70px 0;
    height: 3em;
}

.partner__description--hidden {
    display: none;
}
.partner__item:hover .partner__description--hidden {
    display: initial;
}

.arrow {
    margin-left: auto;
    margin-top: auto;
}

.arrow__icon {
    padding: 35px;
    display: block;
    background-color: #ffffff;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.form__field {
    padding: 25px 0;
}

.form__label {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}

.form__input {
    display: block;
    border: none;
    border-bottom: 1px solid #737373;
    background-color: transparent;
    font-family: 'BasisGrotesquePro';
    color: #C4C4C4;
    padding-top: 20px;
    width: 100%;
}

.form__input::placeholder {
    font-family: 'BasisGrotesquePro';
    font-size: 14px;
    color: #C4C4C4;
}

.form__msg {
    font-size: 14px;
    color: #C4C4C4;
}

.btn {
    background-color: #0536FC;
    padding: 18px 35px;
    margin: 50px 0 120px 0;
    border: none;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}
.form--payment {
    display: block;
    width: 32vw;
    margin-left: auto;
}
.form__checkbox-field {
    padding: 25px 0;
    display: flex;
    justify-content: flex-start;
}
.form__checkbox {
    padding: 0;
    margin: 4px 10px 4px 0;
}
.form__link {
    text-decoration: none;
}
.form__summ-selector {
    border: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    border: 1px solid #d9d9d9;
}
.form__radio-field--bordered {
    border-right: 1px solid #d9d9d9;
    padding: 0;
}
.last {
    border-right: none;
}
.hidden {
    display: none;
}
.form__radio-label div{
    text-align: center;
    padding: 1em 0;
}
.form__radio--input:checked+.form__radio-label div{
    background-color: #0536FC;
    color: white;
}
.form__field--other-sum {
    grid-column: 1 / span 4;
}
.form__input-other-sum {
    display: block;
    border: none;
    background-color: transparent;
    font-family: 'BasisGrotesquePro';
    color: #C4C4C4;
    padding: 40px 0 0 0;
    width: 100%;
    border-top: 1px solid #d9d9d9;
}
.form__summ-selector {
    margin-top: 30px;
}
.legend {
    text-transform: uppercase;
    font-weight: bold;
    padding: 40px 0 40px 0;
}
.payment-selector {
    display: flex;
    border: none;
    padding: 0;
    margin: 20px 0 30px 0;
    flex-wrap: wrap;
}

.form__radio-field {
    flex: 1 1 auto;
    padding-top: 5px;
}

.form__radio-input {
    margin: 0;
}

@media all and (max-width: 1000px) {
    .form--payment {
        width: 70vw;
        margin-left: 0;
    }
    .faq {
        width: 70vw;
        margin-left: 0;
    }
    .partner {
        grid-template-columns: 1fr 1fr;
    }
    .section__text {
        width: 50%;
    }
}
@media all and (max-width: 678px) {
    .form {
        display: block;
    }
    .partner {
        grid-template-columns: 1fr;
    }
    .section__text {
        width: 100%;
    }
    .section__header {
        font-size: 28px;
    }
}