body {
    margin: 0;
    font-family: 'Raleway';
    font-size: 16px;
}
.background {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    height: 575px;
}
.technology {
    padding: 150px 0 0 210px;
    color: #ffffff;
}
span {
    opacity: 0.7;
    text-transform: uppercase;
}
h2 {
    text-transform: uppercase;
    font-size: 38px;
}
h4 {
    text-transform: uppercase;
    font-weight: bold;
}
.active {
    background-color: #0536FC;
    color: #ffffff;
}
.active span {
    opacity: 0.7;
}

.item-header {
    grid-area: header;
}
p {
    grid-area: text;
}
a {
    grid-area: icon;
}
.stage-container {
    margin-top: 50px; 
    margin-left: 50px;
    display: grid;
    grid-template-columns: [first] 2fr [second] 100px [third];
    grid-template-rows: [first] auto [second] 120px [third] 100px [fourth];
    grid-template-areas: 
        "header ."
        "text ."
        ". icon";
}
img {
    padding: 35px;
    display:block;
}
.active img {
    background-color: #ffffff;
}
.stages {
    display: grid;
    grid-template-columns: 
        repeat(auto-fill, minmax(320px, 1fr));
}
.stage {
    box-shadow: 0px 0px 1px 0px #d9d9d9 inset;
}
@media screen and (max-width: 400px) {
    .technology {
        padding: 50px 0 0 50px;
    }
    h2 {
        font-size: 30px;
    }
    .stage {
       height: 400px;
    }
}