.partner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    &__container {
        margin-top: 14%;
        margin-left: 14%;
        margin-right: 28%;
    }

    &__logo {
        height: 35px;
    }

    &__name {
        margin: 60px 0 70px 0;
        height: 3em;
    }
}

.partner__item {
    box-shadow: 0px 0px 1px 0px #d9d9d9 inset;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 450px;

    .partner__description--hidden {
        display: none;
    }

    &:hover {
        background-color: #0536FC;
        color: #ffffff;

        .partner__description--hidden {
            display: initial;
        }
    }
}

.arrow {
    margin-left: auto;
    margin-top: auto;

    &__icon {
        padding: 35px;
        display: block;
        background-color: #ffffff;
    }
}