@font-face {
  font-family: 'Dela Gothic One';
  src: url("../fonts/DelaGothicOne-Regular.woff2") format("woff2"), url("../fonts/DelaGothicOne-Regular.woff") format("woff"), url("../fonts/DelaGothicOne-Regular.eot") format("eot");
  font-weight: 400; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 14px;
  line-height: 166%; }
  @media (min-width: 1200px) {
    body {
      font-size: 18px; } }

@media (min-width: 992px) {
  .mobile-show {
    display: none; } }

@media (max-width: 991px) {
  .desktop-show {
    display: none; } }

.container {
  margin: 0 10px; }
  @media (min-width: 992px) {
    .container {
      margin: 0 80px; }
      .container--no-margin {
        margin: 0; } }

.h1 {
  font-family: 'Dela Gothic One';
  font-size: 18px;
  line-height: 150%;
  margin: 30px 0 20px;
  text-transform: uppercase; }
  .h1--right {
    text-align: right; }
  @media (min-width: 992px) {
    .h1 {
      font-size: 30px;
      margin: 30px 0 60px; } }
  @media (min-width: 1200px) {
    .h1 {
      font-size: 36px; } }

.dropdown {
  padding: 0 5px; }
  .dropdown--expanded {
    rotate: 180deg;
    padding: 1px 5px 0 5px; }

aside {
  margin-bottom: 20px; }
  aside .filters {
    display: inline; }
    @media (min-width: 992px) {
      aside .filters {
        padding-top: 50px; } }

.filters:first-child {
  float: right; }
  @media (min-width: 992px) {
    .filters:first-child {
      float: left; } }

.filter-link,
.sorting-link {
  text-decoration: none;
  color: black; }
  @media (min-width: 992px) {
    .filter-link,
    .sorting-link {
      display: inline; } }

.filters-pane {
  width: 320px;
  height: 500px;
  padding-top: 20px;
  background-color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 6px 6px 8px rgba(179, 179, 179, 0.25), 4px 4px 6px rgba(135, 135, 135, 0.25);
          box-shadow: 6px 6px 8px rgba(179, 179, 179, 0.25), 4px 4px 6px rgba(135, 135, 135, 0.25); }
  @media (min-width: 992px) {
    .filters-pane {
      position: static;
      display: -webkit-box;
      -webkit-box-shadow: none;
              box-shadow: none;
      width: 200px;
      height: 800px;
      padding-top: 0px; } }
  .filters-pane--collapsed {
    display: none; }

.filter {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
  .filter div {
    padding-bottom: 5px; }
  .filter legend {
    font-weight: 700;
    font-size: 14px;
    padding: 0 0 10px; }
    @media (min-width: 992px) {
      .filter legend {
        padding: 10px 0; } }
  .filter .size {
    font-size: 14px; }

.grid-icon {
  padding-right: 5px; }

@media (min-width: 992px) {
  .sorting-pane {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; } }

.catalogue-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 374px) {
    .catalogue-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.catalogue-item__link {
  max-width: 48%;
  text-decoration: none;
  color: black; }
  @media (max-width: 374px) {
    .catalogue-item__link {
      max-width: 100%; } }

.product-item {
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .product-item__description {
    padding: 12px 0; }
  .product-item__price {
    font-weight: 600;
    margin: auto 0 30px 0;
    font-size: 14px; }
    @media (min-width: 1200px) {
      .product-item__price {
        font-size: 20px; } }
  .product-item .hovered-img {
    display: none; }
  .product-item:hover .product-item__image {
    max-width: 90%;
    background-image: url("../../public/img/products/pexels-max-vakhtbovych-6143369 1.jpg"); }

@media (min-width: 992px) {
  .images {
    width: 50vw; } }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }
  @media (min-width: 992px) {
    .gallery {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 150px; } }
  .gallery__image {
    padding: 10px 10px 0 0; }
    @media (min-width: 992px) {
      .gallery__image {
        padding: 10px 0 0 0;
        -ms-flex-preferred-size: 48%;
            flex-basis: 48%; } }

@media (min-width: 992px) {
  .product-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.product {
  margin: 0; }
  .product__image {
    width: 100%;
    display: block; }
  .product__title {
    font-size: 18px;
    line-height: 26px;
    font-family: 'Dela Gothic One';
    text-transform: uppercase;
    margin: 20px 0; }
  .product__amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-bottom: 20px; }
  .product__size-selector {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0 20px; }
    .product__size-selector .size {
      margin-right: 20px;
      border: 1px solid #B9B9B9;
      padding: 5px 10px;
      background-color: transparent;
      font-weight: 300;
      text-decoration: none;
      color: black; }
      .product__size-selector .size--selected {
        font-weight: 600;
        color: #DA1F39;
        border: 1px solid #DA1F39; }
      .product__size-selector .size--unavailable {
        opacity: 0.5; }
  .product__availability {
    color: #DA1F39; }
    .product__availability--hidden {
      display: none; }
  .product__price {
    margin: 30px 0 20px;
    font-size: 18px;
    font-weight: 700; }
  .product__size-table {
    color: black; }

.purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px; }
  .purchase .amount-selector {
    font-size: 16px;
    margin-right: auto; }
    .purchase .amount-selector .amount {
      padding: 0 15px; }
    .purchase .amount-selector__btn {
      border: none;
      font-size: 16px;
      width: 50px;
      height: 50px; }

.faq {
  padding: 50px 0; }
  .faq__item {
    border-top: 1px solid #B9B9B9; }
  .faq__question {
    padding: 15px 0;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: -0.03em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .faq__answer {
    padding-bottom: 15px; }
    .faq__answer--hidden {
      display: none; }

.recommendation .h1 {
  margin-left: 80px; }

.recommendation .recommendation-items {
  max-width: 80%;
  margin: 0 auto; }
  @media (min-width: 992px) {
    .recommendation .recommendation-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      max-width: none;
      margin: 0 0 0 80px; } }
  .recommendation .recommendation-items .recommendation-item__link {
    text-decoration: none;
    color: black;
    max-width: 20%; }

.recommendation .scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 250px;
  margin: 0; }
  @media (min-width: 992px) {
    .recommendation .scroll {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      top: -100px;
      margin: 0 80px 0 0; } }

@media (min-width: 992px) {
  .slider {
    margin: 0 80px 80px 80px; } }

header {
  margin: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 992px) {
    header {
      margin: 40px 80px;
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline; } }
  header .left-pane .header-item {
    padding-right: 30px; }
  header .right-pane {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right; }
    @media (min-width: 992px) {
      header .right-pane {
        font-size: 16px;
        line-height: 19px; } }
    header .right-pane .header-item {
      font-family: 'Raleway'; }

.header-item {
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: black;
  font-size: 16px; }
  .header-item--current {
    color: #DA1F39;
    font-weight: 700; }

footer {
  font-size: 14px;
  line-height: 166%;
  background-color: #F4F4F4; }
  footer .logo {
    display: block;
    margin: 0 auto;
    padding: 20px 0; }

.scroll-up {
  display: block;
  margin: 0 auto;
  position: relative;
  top: -20px; }

.nav-items {
  padding: 0px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr; }
  @media (min-width: 992px) {
    .nav-items {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

.nav-item {
  list-style: none;
  padding-bottom: 10px; }
  .nav-item__link {
    text-decoration: none;
    color: black; }
    .nav-item__link--red {
      color: #DA1F39;
      font-weight: 700; }

.underline {
  text-decoration: underline; }

.contacts div {
  padding-bottom: 10px; }
  @media (min-width: 992px) {
    .contacts div {
      padding-bottom: 14px; } }

.contacts {
  grid-column: 3;
  grid-row: 1 / 5; }

.breadcrumbs {
  padding-bottom: 20px; }
  .breadcrumbs__link {
    text-decoration: none;
    color: black;
    font-weight: 600; }
    .breadcrumbs__link--current {
      font-weight: 300; }
    .breadcrumbs__link--mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .breadcrumbs .nav-back {
    width: 20px;
    padding-right: 10px; }

.scroll {
  display: block;
  text-align: right;
  margin-right: 10px; }
  @media (min-width: 992px) {
    .scroll {
      display: none; } }
  .scroll__link {
    padding: 10px 5px; }
  .scroll .scroll-forward {
    rotate: 180deg; }

.loader {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  margin: 30px 0 50px;
  font-weight: 600; }
  .loader__link {
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .loader__icon {
    padding-left: 5px; }

.btn {
  padding: 17px 80px;
  border: none;
  background-color: #DA1F39;
  text-transform: uppercase;
  color: white; }
  .btn--hidden {
    display: none; }
