@font-face {
  font-family: 'Dela Gothic One';
  src: url("../fonts/DelaGothicOne-Regular.woff2") format("woff2"), url("../fonts/DelaGothicOne-Regular.woff") format("woff"), url("../fonts/DelaGothicOne-Regular.eot") format("eot");
  font-weight: 400; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 14px;
  line-height: 166%; }
  @media (min-width: 1200px) {
    body {
      font-size: 18px; } }

@media (min-width: 992px) {
  .mobile-show {
    display: none; } }

@media (max-width: 991px) {
  .desktop-show {
    display: none; } }

header {
  margin: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 992px) {
    header {
      margin: 40px 80px;
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline; } }
  header .left-pane .header-item {
    padding-right: 30px; }
  header .right-pane {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right; }
    @media (min-width: 992px) {
      header .right-pane {
        font-size: 16px;
        line-height: 19px; } }
    header .right-pane .header-item {
      font-family: 'Raleway'; }

.header-item {
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: black;
  font-size: 16px; }
  .header-item--current {
    color: #DA1F39;
    font-weight: 700; }

footer {
  font-size: 14px;
  line-height: 166%;
  background-color: #F4F4F4; }
  footer .container {
    margin: 0 10px; }
  footer .logo {
    display: block;
    margin: 0 auto;
    padding: 20px 0; }

.scroll-up {
  display: block;
  margin: 0 auto;
  position: relative;
  top: -20px; }

.nav-items {
  padding: 0px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr; }
  @media (min-width: 992px) {
    .nav-items {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

.nav-item {
  list-style: none;
  padding-bottom: 10px; }
  .nav-item__link {
    text-decoration: none;
    color: black; }
    .nav-item__link--red {
      color: #DA1F39;
      font-weight: 700; }

.underline {
  text-decoration: underline; }

.contacts div {
  padding-bottom: 10px; }
  @media (min-width: 992px) {
    .contacts div {
      padding-bottom: 14px; } }

.contacts {
  grid-column: 3;
  grid-row: 1 / 5; }

.breadcrumbs {
  padding-bottom: 20px; }
  .breadcrumbs__link {
    text-decoration: none;
    color: black;
    font-weight: 600; }
    .breadcrumbs__link--current {
      font-weight: 300; }
    .breadcrumbs__link--mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .breadcrumbs .nav-back {
    width: 20px;
    padding-right: 10px; }

aside {
  margin-bottom: 20px; }
  aside .filters {
    display: inline; }
    @media (min-width: 992px) {
      aside .filters {
        padding-top: 50px; } }

.filters:first-child {
  float: right; }
  @media (min-width: 992px) {
    .filters:first-child {
      float: left; } }

.filter-link,
.sorting-link {
  text-decoration: none;
  color: black; }
  @media (min-width: 992px) {
    .filter-link,
    .sorting-link {
      display: inline; } }

.filters-pane {
  width: 320px;
  height: 500px;
  padding-top: 20px;
  background-color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 6px 6px 8px rgba(179, 179, 179, 0.25), 4px 4px 6px rgba(135, 135, 135, 0.25);
          box-shadow: 6px 6px 8px rgba(179, 179, 179, 0.25), 4px 4px 6px rgba(135, 135, 135, 0.25); }
  @media (min-width: 992px) {
    .filters-pane {
      position: static;
      display: -webkit-box;
      -webkit-box-shadow: none;
              box-shadow: none;
      width: 200px;
      height: 800px;
      padding-top: 0px; } }
  .filters-pane--collapsed {
    display: none; }

.filter {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
  .filter div {
    padding-bottom: 5px; }
  .filter legend {
    font-weight: 700;
    font-size: 14px;
    padding: 0 0 10px; }
    @media (min-width: 992px) {
      .filter legend {
        padding: 10px 0; } }
  .filter .size {
    font-size: 14px; }

.title {
  font-family: 'Dela Gothic One';
  font-size: 18px;
  margin: 30px 0 20px;
  text-transform: uppercase;
  text-align: right; }
  @media (min-width: 992px) {
    .title {
      font-size: 30px;
      margin: 30px 0 60px; } }
  @media (min-width: 1200px) {
    .title {
      font-size: 36px; } }

.container {
  margin: 0 10px; }
  @media (min-width: 992px) {
    .container {
      margin: 0 80px 0 80px; } }

.dropdown {
  padding: 0 5px; }
  .dropdown--expanded {
    rotate: 180deg;
    padding: 1px 5px 0 5px; }

.grid-icon {
  padding-right: 5px; }

@media (min-width: 992px) {
  .sorting-pane {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; } }

.catalogue-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 374px) {
    .catalogue-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.catalogue-item__link {
  max-width: 48%;
  text-decoration: none;
  color: black; }
  @media (max-width: 374px) {
    .catalogue-item__link {
      max-width: 100%; } }

.product-item {
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .product-item__description {
    padding: 12px 0; }
  .product-item__price {
    font-weight: 600;
    margin: auto 0 30px 0;
    font-size: 14px; }
    @media (min-width: 1200px) {
      .product-item__price {
        font-size: 20px; } }
  .product-item .hovered-img {
    display: none; }
  .product-item:hover .product-item__image {
    display: none; }
  .product-item:hover .hovered-img {
    display: inline; }

.loader {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  margin: 30px 0 50px;
  font-weight: 600; }
  .loader__link {
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .loader__icon {
    padding-left: 5px; }

.product {
  margin: 0; }
  .product__image {
    width: 100%; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }
  .gallery__image {
    padding: 5px 10px 10px 0; }
    .gallery__image:last-child {
      padding: 5px 0 10px 0; }
