.btn {
  background-color: #0536FC;
  padding: 18px 35px;
  margin: 100px 0 120px 0;
  border: none;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: white; }

.faq {
  width: 32vw;
  margin-left: auto; }

.faq__item {
  border-top: 1px solid #B9B9B9; }

.faq__question {
  padding: 30px 0 70px 0;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: -0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.faq__answer {
  padding-bottom: 70px; }
  .faq__answer--hidden {
    display: none; }

.section {
  margin-top: 150px;
  margin-left: 15vw;
  margin-right: 15vw; }
  .section__text {
    width: 35%; }
  .section__article {
    text-transform: uppercase;
    font-weight: bold; }
    .section__article--blue {
      color: #0536FC; }
  .section__header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: -0.03em;
    padding: 30px 0 70px 0;
    margin: 0; }
  .section__motto {
    color: #B9B9B9; }
  .section__p {
    line-height: 150%;
    opacity: 0.6;
    padding-bottom: 100px; }
  .section--full-page {
    margin: 0; }

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .contact-form__field {
    padding: 25px 0; }
  .contact-form__field-name {
    text-transform: uppercase;
    font-weight: bold;
    display: block; }
  .contact-form__input {
    display: block;
    border: none;
    border-bottom: 1px solid #737373;
    background-color: transparent;
    font-family: 'BasisGrotesquePro';
    color: #C4C4C4;
    padding-top: 20px;
    width: 32vw; }
    .contact-form__input::-webkit-input-placeholder {
      font-family: 'BasisGrotesquePro';
      font-size: 14px;
      color: #C4C4C4; }
    .contact-form__input::-moz-placeholder {
      font-family: 'BasisGrotesquePro';
      font-size: 14px;
      color: #C4C4C4; }
    .contact-form__input:-ms-input-placeholder {
      font-family: 'BasisGrotesquePro';
      font-size: 14px;
      color: #C4C4C4; }
    .contact-form__input::-ms-input-placeholder {
      font-family: 'BasisGrotesquePro';
      font-size: 14px;
      color: #C4C4C4; }
    .contact-form__input::placeholder {
      font-family: 'BasisGrotesquePro';
      font-size: 14px;
      color: #C4C4C4; }
  .contact-form__msg {
    font-size: 14px;
    color: #C4C4C4; }

.empty-block {
  width: 100%; }

.partner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }
  .partner__container {
    margin-top: 14%;
    margin-left: 14%;
    margin-right: 28%; }
  .partner__logo {
    height: 35px; }
  .partner__name {
    margin: 60px 0 70px 0;
    height: 3em; }

.partner__item {
  -webkit-box-shadow: 0px 0px 1px 0px #d9d9d9 inset;
          box-shadow: 0px 0px 1px 0px #d9d9d9 inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 450px; }
  .partner__item .partner__description--hidden {
    display: none; }
  .partner__item:hover {
    background-color: #0536FC;
    color: #ffffff; }
    .partner__item:hover .partner__description--hidden {
      display: initial; }

.arrow {
  margin-left: auto;
  margin-top: auto; }
  .arrow__icon {
    padding: 35px;
    display: block;
    background-color: #ffffff; }

@font-face {
  font-family: 'BasisGrotesquePro';
  src: url("../fonts/BasisGrotesquePro-Regular.woff2") format("woff2"), url("../fonts/BasisGrotesquePro-Regular.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: 'BasisGrotesquePro';
  src: url("../fonts/BasisGrotesquePro-Bold.woff2") format("woff2"), url("../fonts/BasisGrotesquePro-Bold.woff2") format("woff");
  font-weight: 700; }

body {
  margin: 0;
  padding: 0;
  font-family: 'BasisGrotesquePro';
  font-size: 16px; }
