@import "utilities/_mixins";

.hidden {
    display: none;
}

.section {
    margin-top: 150px;
    margin-left: 15vw;
    margin-right: 15vw;

    @include for-non-desktop {
        margin-top: 50px;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    &__text {
        width: 35%;

        @include for-non-desktop {
            width: 100%;
            padding-bottom: 20px;
        }
    }

    &__article {
        text-transform: uppercase;
        font-weight: bold;

        &--blue {
            color: #0536FC;
        }
    }

    &__header {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: -0.03em;
        padding: 30px 0 70px 0;
        margin: 0;

        @include for-mobile {
            font-size: 24px;
        }
    }

    &__motto {
        color: #B9B9B9;
    }

    &__p {
        line-height: 150%;
        opacity: 0.6;
        padding-bottom: 100px;
    }

    &--full-page {
        margin: 0;
    }
}