body {
    margin: 0;
    font-family: 'Tomorrow';
}
nav {
    float: right;
}
header {
    margin: 48px 100px 38px;
}
.logo {
    background: url(img/logo.svg);
    width: 238px;
    height: 24px;
    display: inline-block;
}
.search {
    border: none;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0;
}
.menu li {
    display: inline-block;
    padding: 0 0 0 40px;
}
.menu li a {
    letter-spacing: 0.04em;
}
li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.first-page {
    background-image: url(img/background-main-page.png);
    height: 610px;
    background-size: cover;
}
.big-text {
    width: 1240px;
    font-family: 'Tomorrow';
    line-height: 140%;
    font-size: 56px;
    font-weight: 400;
    text-transform: uppercase;
}
h1 {
    margin: 0;
    position: relative;
    top: 75px;
}

.l1 {
    padding-top: 120px;
}
.line {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image {
    position: absolute;
    left: 530px;
    top: 190px;
}
.container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.block-margin {
    margin-top: 160px;
    margin-bottom: 160px;
}
.secondary-images {
    float: left;
    margin-right: 30px;
}
.second-font {
    font-family: 'Sintony';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
}
h4 {
    padding: 32px 0;
}

.background {
    height: 862px;
    background-size: cover;
}
.third-page {
    background-image: url(img/background-2.png);
}
.third-page p {
    margin: auto;
    padding: 230px 0;
}
.fourth-page {
    height: 768px;
}
.fourth-page h4 {
    padding: 0;
    margin-bottom: 64px;
}
.fourth-page p {
    font-size: 24px;
    line-height: 140%;
}
.fifth-page {
    background-image: url(img/cacti-background.png);
}
.fifth-page h2 {
    position: relative;
    top: 250px;
    left: 735px;
    width: 535px;
}

.tertiary-img {
    position: relative;
    top: -550px;
    left: 725px;
    width: 424px;
    height: 375px;
}
.img2 {
    padding-top: 150px;
}
.materials {
    font-size: 20px;
    line-height: 160%;
    text-align: left;
    padding: 160px 311px;
}
.materials h5 {
    font-weight: bold;
}
.sustainability {
    background-image: url(img/background-5-sustainability.png);
}
.sustainability .container h3 {
    margin: auto;
    padding: 370px 0;
}
.sixth-page {
    background-image: url(img/background-6.png);
    height: 1536px;
}
.process1 {
    height: 600px;
}
.process2 {
    padding: 64px 0;
    height: 165px;
}
.process3 {
    height: 375px;
}
.process1 h3 {
    margin: 0;
    position: relative;
    top: 12px;
    left: 205px;
    width: 400px;
}
.l2 {
    padding-top: 310px;
}
.img3 {
    padding-top: 350px;
}
.sixth-page p {
    width: 500px;
}
.label {
    font-family: 'Tomorrow';
    font-size: 14px;
}
button {
    background-color: white;
    padding: 10px 28px;
    font-family: 'Sintony';
    font-size: 20px;
}
.newsletter {
    text-align: center;
}
.newsletter h4 {
    margin: 0;
    padding: 42px 0 12px 0;
    font-size: 24px;
}

.policy-items li {
    display: inline-block;
    padding: 16px;
    font-family: 'Sintony';
}
.policy-items li a {
    font-size: 14px;
}
.policy-items {
    text-align: center;
}
.social {
    display: inline-block;
}
.social img {
    padding: 12px 6px;
}
.sitemap {
    float: right;
}
.sitemap-items {
    margin: 0;
}
.sitemap-items li {
    padding-bottom: 10px;
    list-style: none;
}
.footer-section {
    margin-top: 105px;
    vertical-align: top;
    margin-bottom: 140px;
}
.networks {
    width: 42px;
    height: 42px;
    display: inline-block;
    margin: 12px 6px;
}
.inst {
    background: url(img/logo-instagram.svg);
}
.fb {
    background: url(img/logo-facebook.svg);
}