.desktop-hidden {
    display: none;
}
body {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 16px;
}

.textblock-photos {
    margin: 100px 5% 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p {
    width: 70%;
    line-height: 28px;
    float: right;
}
span {
    padding-right: 30px;
    position: relative;
    top: -15px;
    color: #71870E;
}
h2 {
    font-family: 'Silk Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    display: inline;
}
.textblock {
    width: 40%;
    flex: 1 1 auto;
}
.text-margin {
    margin: 100px 0 50px;
}
.clearfix::after { 
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
 }
figcaption {
    color: #71870E;
    font-family: 'Montserrat';
    padding: 75px 0 0 110px;
}
button {
    font-family: 'Montserrat';
    font-size: 16px;
    color: #CD9A3D;
    border: 0;
    background-image: url(img/active-menu.png);
    background-repeat: no-repeat;
    background-position: 0 10px;
    background-color: transparent;
    padding: 0 0 50px 120px;
}
.imageblock {
    flex: 1 1 auto;
}
figure {
    margin: 0 0 0 100px;
    position: relative;
}
.small-image {
    position: absolute;
    top: 250px;
    right: 2vw;
}

@media all and (max-width: 1180px) { 
    figure {
        margin: 0 0 0 40px;
    }
    figcaption {
        padding: 50px 0 0 40px;
    }
    h2 {
        font-size: 36px;
        line-height: 40px;
    }
    .text-margin {
        margin: 50px 0 25px;
    }
    .small-image {
        top: 130px;
    }
}
@media all and (max-width: 640px) { 
    .mobile-hidden {
        display: none;
    }
    figure {
        margin: 0;
    }
    p {
        float: initial;
        width: 100%;
    }
    .text-margin {
        text-align: left;  
    }
    img {
        margin: auto;
        width: 100vw;
    }
    
    .textblock-photos {
        margin: 0;
        flex-wrap: wrap;
    }
    .textblock {
        margin: 50px 10% 0 10%;
    }
    .textblock {
        text-align: center;
        flex-basis: 100%;
        width: 100%;
    }
    .imageblock {
        flex-basis: 100%;
    }
    .small-image {
        width: 50vw;
        top: 350px;
        right: 0;
    }
}