@mixin for-huge-up {
    @media (min-width: 1500px) {
        @content;
    }
}

@mixin for-extra-large-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-large-up {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin for-large-down {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin for-medium-up {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin for-small-up {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin for-extra-small-down {
    @media (max-width: 374px) {
        @content;
    }
}